*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  width: 100%;
  height: 100vh;
  position: fixed;
  bottom: 0;
  right: 0;
  overflow: auto;
}
.my-login-modal{
  width: 100%;
  height: 100vh;
  position: fixed;
  bottom: 0;
  right: 0;
  overflow: auto;
  background-color: #ffff;
  z-index: 1;
}
.my-modal{
  width: 100%;
  height: 100vh;
  position: fixed;
  bottom: 0;
  right: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  z-index: 1;
}
.list-group-item.active{
  z-index: 0;
}
.left-side{
  width: 260px;
  height: 100vh;
  border-right: 1px solid gray;
  box-sizing: border-box;
  padding: 20px;
}
.main-side{
  width: 100%;
  height: 100vh;
}